/* about.html */

/* 特長 */
#s_concept{
  margin: 100px auto 200px auto;
  max-width: 800px;
}
.conceptLeft{
  flex-grow: 1;
  width: 50%;
  margin-right: 30px;
}
.conceptRight{
  flex-grow: 1;
  width: 50%;
}
.baseBox {
  /* --- 親BOXの定義 --------------------------------------------*/
   display       : inline-block;         /* インラインブロック化 */
   position      : relative;             /* 親要素               */
   margin        : 0 auto;               /* BOXの位置(中央寄せ)  */
   height        : 150px;                /* BOXの高さ            */
 }
  /* --- 背景透かし文字の定義 -----------------------------------*/
 .baseBox .backStr {
   position      : absolute;             /* 親要素からの相対位置 */
   display       : inline-block;         /* インラインブロック化 */
   white-space   : nowrap;               /* 折り返ししない       */
   font-size     : 134px;                 /* 背景透かし文字サイズ */
   font-weight   : bold;                 /* 太字                 */
   margin: 0;
   z-index: 1;
 }
 .baseBox .backImg {
  position      : absolute;             /* 親要素からの相対位置 */
  display       : inline-block;         /* インラインブロック化 */
  white-space   : nowrap;               /* 折り返ししない       */
  z-index: 90;
}
.baseBox .backStr.backPos{
  transform: translate(-25%, 150%);
 }
.baseBox .backImg.backPos{
  transform     : translate(50%, 110%);
 }
.d_detailBtn{
  display: flex;
  justify-content: right;
}

/* 施術の流れ */
#s_flow{
  margin: 100px auto 450px auto;
  max-width: 800px;
}

/* 根本改善のポイント */
#s_point{
  margin-bottom: 50px;
}
.point{
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 90;
}
.point > div > img{
  margin: 20px;
}
.point > div > p{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.voice div{
  width: 20%;
  min-width: 250px;
  margin-left: 50px;
}