article{
  position: relative;
}

/* ご予約・お問い合わせ */
#mainContent{
  position: relative;
  z-index: 90;
  background-color: #fff;
  margin: 50px auto;
  width: min(80%, 780px);
  border: solid 1px #cccccc;
  padding: 50px;
}
#mainContent p{
  margin-bottom: 20px;
}

/* 送信完了 */
.backToContact{
  width: 25%;
  margin: 0 auto;
  padding: 0;
  background-color: #1B9240;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
}
.backToContact a{
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  color: #ffffff;
}
.backToContact a:not(:hover):not(:active){
  color: #ffffff;
}
.backToContact a:link{
  color: #ffffff;
}
.backToContact a:visited{
  color: #ffffff;
}
.backToContact a:active{
  color: #ffffff;
}
.backToContact a:hover{
  color: #ffffff;
}

/* PC */
@media screen and (min-width: 781px){
  br{
    display: none;
  }
}
/* SP */
@media screen and (max-width: 780px){
  br{
    display: inline;
  }
}