/* ヘッダー */
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  z-index: 90;
}
header > nav{
  z-index: 90;
  margin-right: 20px;
}
header > nav a{
  font-size: 16px;
  color: #ffffff;
  z-index: 90;
  text-shadow: 1px 1px 0px #46845940;
}
header > nav > a{
  margin-left: 1vw;
}
header > nav > button{
  margin-left: 1vw;
}
header > nav a:link{
  color: #ffffff;
}
header > nav a:visited{
  color: #ffffff;
}
header > nav a:active{
  color: #ffffff;
}
header > nav a:hover{
  color: #ffffff;
  opacity: 0.5;
}
