/* お知らせ詳細 */
h1{
  font-family: "Noto Sans CJK JP";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #0C4324;
}
h2{
  font-family: "Noto Sans CJK JP";
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: #0C4324;
}
h3{
  font-family: "Noto Sans CJK JP";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #0C4324;
}
h4{
  font-family: "Noto Sans CJK JP";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #0C4324;
}