/* PC */
@media screen and (min-width: 781px){
  /* お知らせ詳細 */
  h1{
    font-family: "Noto Sans CJK JP";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #0C4324;
  }
  h2{
    font-family: "Noto Sans CJK JP";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #0C4324;
  }
  h2::before{
    content: "";
  }
  h3{
    font-family: "Noto Sans CJK JP";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #0C4324;
    padding-left: 0;
  }
  h3::before,
  h3::after{
    content: "";
  }
  h4{
    font-family: "Noto Sans CJK JP";
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #0C4324;
  }

  #mainContent{
    position: relative;
    z-index: 90;
    background-color: #fff;
    margin-left: 10vw;
    width: 70vw;
  }
  #mainContent p:nth-last-of-type(n+1){
    color: #000;
    text-align: left;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: normal;
  }
  #mainContent p:nth-last-of-type(1)  {
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
  }
  #mainContent .pcOnly{
    display: inline;
  }
  #mainContent img{
    border-radius: 24px;
  }

  /* カテゴリ */
  #s_category{
    position: absolute;
    z-index: 100;
    top: 44vw;
    right: 0;
    margin-right: 10vw;
  }
  #s_category li{
    list-style-type: "";
    margin-top: 1em;
  }
}

/* SP */
@media screen and (max-width: 780px){
  /* お知らせ詳細 */
  h1{
    font-family: "Noto Sans CJK JP";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #0C4324;
  }
  h2{
    font-family: "Noto Sans CJK JP";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #0C4324;
  }
  h2::before{
    content: "";
  }
  h3{
    font-family: "Noto Sans CJK JP";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #0C4324;
    padding-left: 0;
  }
  h3::before,
  h3::after{
    content: "";
  }
  h4{
    font-family: "Noto Sans CJK JP";
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #0C4324;
  }

  #mainContent{
    position: relative;
    z-index: 90;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
  }
  #mainContent p:nth-last-of-type(n+1){
    color: #000;
    text-align: left;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: normal;
  }
  #mainContent p:nth-last-of-type(1){
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
  }
  #mainContent img{
    width: 100%;
    height: auto;
    border-radius: 24px;
  }
  #mainContent .pcOnly{
    display: none;
  }

  /* カテゴリ */
  #s_category{
    width: 80%;
    margin: 50px auto;
  }
  #s_category li{
    list-style-type: "";
    margin-top: 1em;
  }
}